html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: underline;
}

#intro {
  width: 45%;
}

h2 {
  font-family: 'Barlow', sans-serif;
}

p, li {
  font-family: 'Cinzel', serif;
}

.instructions {
  display: flex;
}

img {
  height: 950px;
}

#similar-recipes {
  text-decoration: underline;
}