h1 {
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: underline;
}

h2{
  font-family: 'Barlow', sans-serif;
}

p, li {
  font-family: 'Cinzel', serif;
}

.instructions {
  display: flex;
  justify-content: space-around;
}

img {
  height: 950px;
  display: flex;
  align-items: flex-end;
}

#similar-recipes {
  text-decoration: underline;
}