html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: #222;
  color: #aaa
}

a {
  font-family: 'Raleway', sans-serif;
  color: #888;
}

a:hover { 
  color: yellow; 
}

img {
  border-radius: 50%;
}

.nav {
  justify-content: center;
}

@media screen and (max-width: 414px) {
  /* start of phone styles */
  .nav {
    padding-bottom: 3.5em;
  }
  
  h1#intro { 
    font-size: 2em; 
    margin-left: 1em;
  }

  img {
    margin-bottom: 1.5em;
  }
}

@media screen and (min-width: 415px) and (max-width: 769px) {
  /* start of medium tablet styles */ 
  .nav {
    padding-bottom: 3em;
    font-size: 24px;;
  }

  img {
    margin: 3.5em 0 2.75em 0;
  }
  
  h1 {
    margin-left: 3em;
  }
}

@media screen and (min-width: 770px) {
  .nav {
    margin: 1.5em 0 1em 0;
  }
  
  img {
    margin: 5.5em 0 3.5em 0;
  }
  
  h1 {
    font-size: 2.75em;
    margin-left: 7.5em;
  }
}